{{ partial "header.html" . }}

<div id="layout" class="pure-g">
    {{ partial "sidebar.html" . }}

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>

            <!-- A wrapper for all the blog posts -->
            <div class="posts">
                Releases
                <ul>
                    {{ range $name, $title := .Site.Sections }}
                    <li class="nav-item">{{ $name }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</div>

{{ partial "analytics.html" . }}
</body>
</html>
