<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<meta charset="UTF-8">
<meta name="description" content="Geek-only friendly, W3C-compliant, CSS3- and HTML5-based website template with a Creative Commons Attribution-Share Alike 3.0 Unported License.">
<meta name="robots" content="index,follow,noarchive">
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="a">
		<header>
	  	    	<a href="/" title="Go to Homepage"><strong>Google Go</strong> IDE homepage</a>
		    	<p> This is the homepage of the go-ide. It's an Integrated Development Environment for the Google Go language. It's built as a plugin for the Intellij IDEA platform and distributed here as a complete package.</p>
		</header>
		<div id="b">
		<article>
			{{ content }}
			<section class="meta">
				<p>Author: <a href="http://about.me/mtoader/">Mihai Claudiu Toader</a> | Date: {{ site.time | date_to_string }}  </p>
			</section>
		</article>
		<aside>
		<!--<h4>Search</h4>
		<form action="#" class="s">
		<input name="search" type="text" value="Type term and hit enter...">
		</form>
		-->
		<nav>
		<ul>
		<li><a href="/about.html">About</a></li>
		<li><a href="/features.html">Features</a></li>
		<li><a href="/quickstart.html">Quickstart</a></li>
		<!-- <li><a href="/downloads">Downloads</a></li>-->
		<li><a href="/how-to-contribute.html">How to contribute</a>
		<ul>
		<li><a href="https://github.com/mtoader/google-go-lang-idea-plugin" target="_new">Source code</a></li>
		<li><a href="https://github.com/mtoader/google-go-lang-idea-plugin/issues" target="_new">Issue tracker</a></li>
		</ul>
		</li>
		<li><a href="/changelog.html">Changelog</a></li>
		</ul>
		</nav>

		<h4>Authors</h4>
		<div id="c">
		<img src="/images/mihai-toader-small.png" alt="Toader Mihai Claudiu">
		<p>Hi, my name is <a href="http://about.me/mtoader/">Toader Mihai Claudiu</a>.<br> I started this project.</p>
		<p>I am a software developer and i wanted to have a top of the art IDE for Go.</p>
		</div>
		<div id="c">
		<p>Johnny Everson. gofmt integration and various bug fixes. <a href="https://github.com/mtoader/google-go-lang-idea-plugin/commits/master?author=khronnuz">Commits by Johnny</a></p>
		</div>
		<div id="c">
		<p>Alexandre. gomake integration and Mac OSX bug fixes. <a href="https://github.com/mtoader/google-go-lang-idea-plugin/commits/master?author=alexandre-normand">Commits by Alexandre</a></p>
		</div>
<!--				<h4>Example Gallery</h4>
				<ul class="gallery">
					<li><a href="index.html"><img src="/images/img1.png"/></a></li>
					<li><a href="index.html"><img src="/images/img2.png"/></a></li>
					<li><a href="index.html"><img src="/images/img3.png"/></a></li>
				</ul>
				<ul class="gallery">
					<li><a href="index.html"><img src="/images/img4.png"/></a></li>
					<li><a href="index.html"><img src="/images/img5.png"/></a></li>
					<li><a href="index.html"><img src="/images/img6.png"/></a></li>
				</ul>
-->
<!--				<h4>AdSpace</h4> 
				<div class="adspace"> 
					<a href="http://www.jabz.biz/" rel="me"><img src="i/jabz-logo.png" alt="Jabz Internet Marketing GmbH" title="Jabz Internet Marketing GmbH"/></a> 
				</div>
				<h4>Example Blogroll</h4>
				<ul>
					<li><a href="http://www.jabz.biz/">Jabz Internet Marketing GmbH</a></li>
					<li><a href="http://www.jabz.info/contact/jonas-jared-jacek/">Jonas Jacek</a></li>
					<li><a href="http://www.w3.org/">World Wide Web Consortium</a></li>
					<li><a href="http://www.getfirefox.com/">Firefox Web Browser</a></li>
				</ul>
				<h4>Example Tag Cloud</h4>
				<ul id="tagcloud">
					<li class="tagcloudsize-1"><a href="#">Lorem</a></li>
					<li class="tagcloudsize-2"><a href="#">Ipsum</a></li>
					<li class="tagcloudsize-3"><a href="#">Dolor</a></li>
					<li class="tagcloudsize-2"><a href="#">Sit Amet</a></li>
					<li class="tagcloudsize-1"><a href="#">Consectetur</a></li>
				</ul> 
-->
			</aside>
		</div>
		<footer>
	    		<p>Template Design &amp; Markup by <a href="http://www.jabz.info/contact/jonas-jared-jacek/" title="Profile of Jonas Jacek">Jonas Jacek</a> for <a href="http://www.owmx.com/" title="Free HTML5 &amp; CSS3 Web Template | owmx.com">Free HTML5 &amp; CSS3 Web Templates</a>
	    	</footer>
	</div>
	<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-24654412-1']);
	_gaq.push(['_trackPageview']);

	(function() {
	 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	 })();
	</script>
</html>
